# Dependency directories
**/node_modules/

# Environment files
**/.env

# Expo directories
**/.expo/
**/.expo-shared/

# Build outputs
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
*.log

# System files
.DS_Store
